.App {
  text-align: center;
}

.App-header {
  background-color: #a9aeb8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.react-clock__face {
  background-color: white;
}