.App {
  text-align: center;
  background-image: url(./clouds.jpg);
  background-color: turquoise;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  color: white;
}

.react-clock__face {
  background-color: rgb(226, 233, 245);
}